VITE_AZURE_CLIENT_ID=00000000-0000-0000-0000-000000000000
VITE_AZURE_TENANT_ID=common
VITE_AZURE_REDIRECT_URI=http://localhost:5173
VITE_AZURE_SCOPES=User.Read
VITE_PUBLIC_BASE=/
VITE_STATEMENT_DB_FILE=data/statement-db.json
VITE_STATEMENT_FILE=Extrato-10-10-2024-a-21-02-2026-CSV.csv
